{% extends "back/template.html.twig" %}
{% block body %}

<header class="masthead" style="background-image: url('../assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Modifier un Utilisateur</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 py-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% for error_message in form.constraintViolation %}
                <div class="text-danger small">{{ error_message }}</div>
            {% endfor %}
            {% for message in session.getFlashBag.get('success') %}
                <div class="text-success small">{{ message }}</div>
            {% endfor %}
            <form id="contactForm" method="post">
             <input type="hidden" name="{{ form.name }}_token" id="{{ form.name }}_token" value="{{ form.token }}">
                <div class="form-floating">
                    <input class="form-control" name="email" id="email" type="email" placeholder="Email" value="{{ user.email }}" required />
                    <label for="email">Email</label>
                </div>
                <div class="form-floating">
                    <select class="form-control" name="role" id="role" required>
                        <option value="unauthorised">Non autorisé</option>
                        <option value="author" {% if user.role == "author" %} selected="selected" {% endif %}>Auteur</option>
                        <option value="admin" {% if user.role == "admin" %} selected="selected" {% endif %}>Admin</option>
                    </select>
                    <label for="password">Role</label>
                </div>
                <button class="btn btn-primary my-5 text-uppercase" id="submitButton" type="submit">Envoyer</button>
            </form>
            <a href="/deleteUser/{{ user.id }}/{{ form.token }}" class="text-danger my-5 text-uppercase" onclick="return window.confirm('Êtes vous sur de vouloir supprimer..')">Supprimer</a>
        </div>
    </div>
</div>

{% endblock %}